<!-- I dont like this thing...need to rethink it -->
<!-- <%- await include('views/components/movie_graph.html', data ) %>
add above to show page -->

<div style="display: flex; flex-direction: row;">
  <% movieData.slice(-20).map(c=> { %>
    <a href="/movies/<%= c.id %>">
      <div style="position: relative; min-width: 50px; height:<%= c.popularity %>px; background: #4a92df; margin: 2px;">
        <div style="transform-origin: 0 0; transform: rotate(-75deg);">
          <%= c.popularity %>
        </div>
        <div style="height: 20px; width: 50px;
          position: absolute; left: 0; right: 0; 
          bottom: 0; top: <%= 200 + (c.title || c.name).length %>px; 
          transform: rotate(-90deg); white-space: nowrap">
          <%= c.title || c.name %>
        </div>
      </div>
    </a>
    <% }); %>
</div>
