<%- await include('views/shared/header.html', { title }); %>

<div>
  <h1><%= data.title %></h1>
  <h3><i><%= data.tagline %></i></h3>
</div>

<div style="display:flex; height: 450px;">

  <div>
    <img src="https://image.tmdb.org/t/p/w300<%= data.poster_path %>" alt="movie poster: <%= data.title %>">
  </div>

  <div style="padding:10px">
    <span style="font-weight: 600;">Summary</span>
    <p><%= data.overview %></p>
    <span style="font-weight: 600;">Released</span>
    <p><%= data.release_date %></p>
    <span style="font-weight: 600;">Runtime</span>
    <p><%= data.runtime %> minutes</p>
  </div>

  <div>
    <div>
      <h3>Cast</h3>
      <% data.credits.cast.slice(0,10).map(person => { %>
      <span>
        <a href="/people/<%=person.id%>"><%= person.name %></a>
      </span>
      <% }) %>
    </div>
    <div>
      <h3>Crew</h3>
      <% data.credits.crew.slice(0,10).map(person => { %>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
          <a href="/people/<%=person.id%>"><%= person.name %></a>
        </div>
        <div>
          <%= person.job %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

</div>

<div>
  <h3>Similar Movies</h3>
  <%- await include('views/components/carousel.html', { movies: data.movies }) %>
</div>

<%- await include('views/shared/footer.html'); %>